body{
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 13px !important;
	line-height: 1.1;
	font-family: 'Open Sans', Arial,sans-serif;
	font-weight: 300;
	color: #000000;
}

/***********/
/* Grid (s)*/
/***********/


.column{
	position: relative;
	float: left;
	display: block;
}

.column-1{
	position: relative;
	float: left;
	width: 100%;
	display: block;
}

.column-2{
	position: relative;
	float: left;
	width: 50%;
	display: block;
}

.column-3{
	position: relative;
	float: left;
	width: 33.33333333%;
	display: block;
}

.column-4{
	position: relative;
	float: left;
	width: 25%;
	display: block;
}

.column-5{
	position: relative;
	float: left;
	width: 20%;
	display: block;
}

.column-6{
	position: relative;
	float: left;
	width: 16.666666667%;
	display: block;
}

	.column-content{
		padding: 5px 10px;
		margin: 5px 10px;
	}




/***********/
/* Grid (e)*/
/***********/


/******************/
/* Typographie (s)*/
/******************/

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-size: 3em;
	font-weight: 400;
}

h2{
	font-size: 2.6em;
}

h3{
	font-size: 2.2em;
}

h4{
	font-size: 1.8em;
}

h5{
	font-size: 1.4em;
}

h6{
	font-size: 1.2em;
}

strong{
	font-weight: bold;
}

small{
	font-size: 0.7em;
}

p{
	margin: 10px;
}

blockquote,blockquote.border-left{
	margin: 1%;
	padding: 1%;
	border-left: 5px solid #CCCCCC;
}
blockquote.border-right{
	border-left: 0px;
	border-right: 5px solid #CCCCCC;
	text-align: right;
}
	blockquote small{
		font-size: 0.8em;
		width: 100%;
		display: block;
		color: #777777;
	}

blockquote:hover{
	border-color: #007AFF;
	cursor: pointer;
}

.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

a:link, a:visited{
	color: #CCCCCC;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/******************/
/* Typographie (e)*/
/******************/

/************/
/* Table (s)*/
/************/

.responsive-table{
	overflow: auto;
}

.table{
	width: 100%;
	padding: 0;
	margin: 0;
	border-spacing:0;
    border-collapse: collapse;
}
	.table > thead{
		width: 100%;
		border-bottom: 3px solid #263962;
		background-color: #3B5999;
	}
		.table > thead > tr > th{
			text-align: left;
			padding: 10px;
			color: #FFFFFF;
			font-weight: bold;
		}
	.table > tbody{
		padding-top: 37px;
		background-color: #FFFFFF;
	}
		.table > tbody > tr > td{
			padding: 10px;
			border-bottom:1px solid #CCCCCC;
		}

/************/
/* Table (e)*/
/************/

/*************/
/* Forms (s) */
/*************/
label{
	font-weight: bold;
}
input[type="text"], input[type="email"], input[type="password"], textarea{
	font-family: 'Open Sans', Arial, sans-serif;
	width: 100%;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 35px;
	margin: 2px 0 5px 0;
	padding: 0 8px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
textarea{
	padding: 1%;
}

input:focus, textarea:focus{
	outline: 1px;
	border: 1px solid #007AFF;
}

input:hover, textarea:hover{
	border: 1px solid #AAAAAA;
}

input:focus:hover, textarea:focus:hover{
	border: 1px solid #007AFF;
}

button{
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 2px 0;
	display: block;
	background-color: #F5F5F5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F5F5F5',EndColorStr='#F1F1F1');
	border:1px solid #CCCCCC;
	color: #777777;
	
}

button:hover{
	color: #444444;
	cursor: pointer;
}

/*************/
/* Forms (e) */
/*************/

/***************/
/* Tooltip (s) */
/***************/

.tooltip{
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 9999;
	height: auto;
}
	.tooltip-content{
		padding: 10px;
		background-color: rgba(0,0,0,.8);
		color: #FFFFFF;
		border-radius: 2px;
		display: block;
	}
	.tooltip-arrow{
		position: relative;
		float: left;
		margin-left: 5px;
		width: 0px;
		height: 0px;
		border: 5px solid transparent;
		border-top: 5px solid rgba(0,0,0,.8);
		display: block;
	}

/***************/
/* Tooltip (e) */
/***************/

/******************/
/* Tab-System (s) */
/******************/

.tabs {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
	.tabs nav {
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    overflow: auto;
	}
		.tabs nav ul {
		    margin: 0 !important;
		    padding: 0 !important;
		    list-style: none;
		}
			.tabs nav ul li {
			    position: relative;
			    float: left;
			    display: block;
			    margin: 0 !important;
			    padding: 10px;
			    color: #CCCCCC;
			    text-align: center;
			    background-color: #FFFFFF;
			    cursor: pointer;
			}
			.tabs nav ul li:first-child {padding: 10px 10px 10px 0 !important;}
			.tabs nav ul li:hover, .tabs nav ul li.active {color: #000000;}
			.tabs nav ul li.active {
				background-position: bottom center;
				background-repeat: no-repeat;
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwIDEwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGNUY1RjUiIHBvaW50cz0iMCwxMCA1LDUgMTAsMTAgIi8+DQo8L3N2Zz4NCg==);
			}

	.tabs .content {
	    position: relative;
	    width: 100%;
	    float: left;
	    padding: 0;
	    margin: 0;
	    display: block;
	    background-color: #F5F5F5;
	}
		.tabs .content .tab-item{
			padding: 10px;
		}

/******************/
/* Tab-System (e) */
/******************/

/***************/
/* Spoiler (s) */
/***************/

.spoiler{
	width: 100%;
	text-align: center;
}

	.spoiler .spoiler-content{
		vertical-align: top;
		margin: 1%;
		text-align: left;
		height: auto;
	}

	.spoiler button{
		width: 96%;
		padding: 1%;
		margin: 1%;
		background-color: #F5F5F5;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
		background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
		background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
		background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
		background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
		background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F5F5F5',EndColorStr='#F1F1F1');
		border:1px solid #CCCCCC;
		border-radius: 2px;
		color: #777777;
	}

	.spoiler button:hover{
		color: #444444;
		cursor: pointer;
		box-shadow: 0 0 2px rgba(0,0,0,.4);
	}

/***************/
/* Spoiler (e) */
/***************/

/****************/
/* Checkbox (s) */
/****************/

.check-box {
	height: 22px;
	vertical-align: middle;
}
	.check-box input[type="checkbox"]{
		width: 0;
		height: 0;
		display: none;
	}
	.check-box .box{
		width: 14px;
		height: 14px;
		background: #FFFFFF;
		border:1px solid #CCCCCC;
		cursor: pointer;
		position: relative;
		float: left;
		margin: 3px;
	}
	.check-box:hover .box{
		border: 1px solid #007AFF;
	}

	.check-box .box .check{
		margin: 1px;
		position: relative;
		float: left;
		height: 13px;
		width: 13px;
		background-image: url('../../../image/framework/checkbox/check.png');
		display: none;
	}

	.check-box .text{
		position: relative;
		float: left;
		margin: 5px 0;
		cursor: pointer;
	}

/****************/
/* Checkbox (e) */
/****************/

/****************/
/* Radiobox (s) */
/****************/

/*.radio-box {
	height: 22px;
	vertical-align: middle;
}

	.radio-box input[type="radio"]{
		width: 0;
		height: 0;
		display: none;
	}

	.radio-box .box{
		width: 14px;
		height: 14px;
		background: #FFFFFF;
		border:1px solid #CCCCCC;
		cursor: pointer;
		position: relative;
		float: left;
		margin: 3px;
		border-radius: 50px;
	}
	.radio-box:hover .box{
		border: 1px solid #007AFF;
	}

	.radio-box .box .select{
		background-color: #666666;
		height: 12px;
		width: 12px;
		margin: 1px;
		border-radius: 50px;
		display: none;
	}

	.radio-box .text{
		position: relative;
		float: left;
		margin: 5px 0;
		cursor: pointer;
	}*/

/****************/
/* Radiobox (e) */
/****************/

/*****************/
/* Selectbox (s) */
/*****************/

.select-box{
	padding: 0 1%;
	width: 100%;
	height: 35px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #263962;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F5F5F5',EndColorStr='#F1F1F1');
	border: 1px solid #CCCCCC;
	margin: 2px 0 5px 0;
}

.select-box:hover{
	border: 1px solid #007AFF;
	color: #007AFF;
}
	.select-box select {
	    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjVweCIgaGVpZ2h0PSIyNXB4IiB2aWV3Qm94PSIwIDAgMjUgMjUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI1IDI1IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGlkPSJYTUxJRF8xXyIgZmlsbD0iIzY3Njc2NyIgcG9pbnRzPSIyNCw3Ljc1IDEyLjUsMTkuMjUgMSw3Ljc1ICIvPg0KPC9zdmc+DQo=);
	    background-position: right 5px top 10px;
	    background-repeat: no-repeat;
	    background-size: 15px 15px;
	    height: 35px;
	    width: 100%;
	    margin: 0 1%;
	    border: 0;
	    border-radius: 0;
	    height: 34px;
	    -webkit-appearance: none;
	    outline: 0;
	    color: #666666;
	}

/*****************/
/* Selectbox (e) */
/*****************/



/*************/
/* Modal (s) */
/*************/

.modal{
	cursor: pointer;
}

.modal-background{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	display: none;
	overflow: hidden;
}

	.modal-background .modal-box{
		position: fixed;
		top: 10% !important;
		left: 10% !important;
		height: 80% !important;
		width: 80% !important;
		border-color: 1px solid #CCCCCC;
		background-color: #FFFFFF;
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		display: block;
	}



		.modal-background .modal-box .modal-header{
			position: relative;
			float: left;
			width: 100%;
			display: block;
			background-color: #3B5999;
			border-bottom: 3px solid #263962;
		}

			.modal-background .modal-box .modal-header .modal-column{
				position: relative;
				float: left;
				width: 50%;
			}
			.modal-background .modal-box .modal-header .modal-column .modal-column-content{
				padding: 20px;
				font-size: 2em;
				color: #FFFFFF;
			}


			.modal-background .modal-box .modal-header .modal-title{
				position: relative;
				float: left;
				margin: 1%;
				padding: 1%;
				width: 46%;
				text-align: left;
				font-size: 1.8em;
				color: #FFFFFF;
			}

				.modal-background .modal-box .modal-header .modal-column i{
					margin-right: 10px;
					cursor: pointer;
					font-size: 0.9em;
				}

				.modal-background .modal-box .modal-header .modal-column i:hover,.modal-background .modal-box .modal-header .modal-column i.active{
					color: #F5F5F5;
				}

		.modal-background .modal-box .modal-content{
			position: relative;
			float: left;
			height: 90%;
			width: 100%;
			display: block;
			background-color: #F5F5F5;
			overflow: auto;
		}
			/* -- MODAL MENU -- */
			.modal-background .modal-box .modal-content #menu-panel{
				height:100%;
				top:-100%;
				float:left;				
				border-right:1px solid #CCCCCC;
				background-color:#FFFFFF;
				overflow: auto;
				width: 0px;
				z-index: 9;
			}

				.modal-background .modal-box .modal-content #menu-panel h5{
					padding:10px 7px;
					color: #444444;
				}
				.modal-background .modal-box .modal-content #menu-panel table{
					color: #444444;
					padding: 10px 0;
					text-align: center;
					font-size: 1.2em;
				}

				.modal-background .modal-box .modal-content #menu-panel table tr td #menu-back-btn{
					color: #666666;
					cursor: pointer;
				}
				.modal-background .modal-box .modal-content #menu-panel table tr td #menu-back-btn:hover{
					color: #007AFF;
				}

				.modal-background .modal-box .modal-content #menu-panel > ul.menu{
					margin: 0;
					padding: 0;
					list-style: none;
					font-size: 1.2em;
					border-top: 1px solid #CCCCCC;
					border-bottom: 1px solid #CCCCCC;

				}
				.modal-background .modal-box .modal-content #menu-panel > ul.menu li{
					border-bottom: 1px solid #CCCCCC;
					padding: 10px 0;
					margin-left: 30px;
					color: #666666;
				}
				
				.modal-background .modal-box .modal-content #menu-panel > ul.menu li:last-child{
					border-bottom: 0px solid #CCCCCC;
				}
				.modal-background .modal-box .modal-content #menu-panel > ul.menu li:hover,.modal-background .modal-box .modal-content #menu-panel > ul.menu li #text.active{
					color:#007AFF;
					cursor: pointer;
				}

				.modal-background .modal-box .modal-content #menu-panel > ul.menu > li #text{
					margin-left:-20px;
				}

				.modal-background .modal-box .modal-content #menu-panel > ul.menu > li #text img{
					margin-top: -1px;
					float: left;
					width: 16px;
					height: 16px;
					margin-right: 4px;
				}

				.modal-background .modal-box .modal-content #menu-panel > ul.menu > li i{
					position: relative;
					float:right;
					margin-top: -17px;
				}

/*************/
/* Modal (e) */
/*************/

/*********************/
/* File Selector (s) */
/*********************/

.file-selector {
    position: relative;
    border: 1px solid #3B5999;
    padding: 9px 0 8px 0;
    text-align: center;
    background-color: #3B5999;
    border-bottom: 3px solid #263962;
    color: #FFFFFF;
}
	.file-selector input {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    border: 0;
	    z-index: 2;
	    opacity: 0;
	    top: 0;
	    left: 0;
	    filter: alpha(opacity=0);
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    -moz-opacity: 0;
	    -khtml-opacity: 0;
	    cursor: pointer;
	}

/*********************/
/* File Selector (e) */
/*********************/

/*************************/
/* Loading Animation (s) */
/*************************/

.loading-bar {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
}
	.loading-bar > .points{
		height: 20px;
		display: block;
	}

		.loading-bar > .points > div {
			width: 20px;
			height: 20px;
			background-color: #333;
			border-radius: 100%;
			display: inline-block;
			float: left;
			-webkit-animation: resizepoint 1.4s infinite ease-in-out;
			animation: resizepoint 1.4s infinite ease-in-out;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}

		.loading-bar > .points > .point-1 {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}

		.loading-bar > .points > .point-2 {
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}

	.loading-bar > .message{
		margin-top: 10px;
		text-align: center;
	}

@-webkit-keyframes resizepoint {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes resizepoint {
	0%, 80%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 40% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/*************************/
/* Loading Animation (e) */
/*************************/

.desktop-visible{
	display: block;
}
.tablett-visible{
	display: none;
}
.mobile-visible{
	display: none;
}
.desktop-hidden{
	display: none !important;
}
.tablett-hidden{
	display: block !important;
}
.mobile-hidden{
	display: block !important;
}

@media screen and (max-width: 960px){
	.modal-background .modal-box{
		top: 0 !important;
		left: 0 !important;
		height: 100% !important;
		width: 100% !important;
	}
	.desktop-visible{
		display: none !important;
	}
	.tablett-visible{
		display: block !important;
	}
	.mobile-visible{
		display: none !important;
	}
	.desktop-hidden{
		display: block !important;
	}
	.tablett-hidden{
		display: none !important;
	}
	.mobile-hidden{
		display: block !important;
	}
	.column-4{
		width: 50%;
		position: none;
	}
}

@media screen and (max-width: 700px){
	.column-1,.column-2,.column-3,.column-4,.column-5,.column-6{
		width: 100%;
		position: none;
	}
	.column-content{
		padding: 5px;
		margin: 5px;
	}
	.modal-background .modal-box .modal-header .modal-column .modal-column-content{
		padding: 10px;
	}
	.desktop-visible{
		display: none !important;
	}
	.tablett-visible{
		display: none !important;
	}
	.mobile-visible{
		display: block !important;
	}
	.desktop-hidden{
		display: block !important;
	}
	.tablett-hidden{
		display: block !important;
	}
	.mobile-hidden{
		display: none !important;
	}
}