html{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
}

hr{
    height: 2px;
    border: 0;
    margin: 10px 0 14px 0;
    background-color: #CCCCCC;
}
button{
	background: #3b5999;
	color: #FFFFFF;
	border: 1px solid #3b5999;
	border-bottom: 3px solid #263962;
}
button:hover{
	background: #3b5999;
	color: #FFFFFF;
	box-shadow: none;
	border-bottom: 3px solid #3B5999;
}

a:link, a:visited{color: #3B5999 !important;}
span.link{ color: #3B5999; }
span.link.grey{ color: #3B5999; }
span.link:hover{ text-decoration: underline; cursor: pointer;}

.application-link{ cursor: pointer;}
.application-link.active{ cursor: pointer;}

/**************/
/* Header (s) */
/**************/

header{
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}
	header .logo{
		float: left;
	}
		header .logo img{
			margin: 0;
			margin: 5px 0 5px 10px;
			float: left;
			height: 30px;
		}

	header nav{
		position: relative;
		float: right;
	}
		header nav ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}

		header nav ul li{
			position: relative;
			float: left;
			padding: 10px;
			font-size: 13px;
			line-height: 20px;
		}
			header nav ul li i{
				margin: 0 5px;
				font-size: 20px;
			}

/**************/
/* Header (e) */
/**************/

/************/
/* Menu (s) */
/************/

nav.menu{
	position: fixed;
	width: 100%;
	max-width: 200px;
	height: 100%;
	top: 0;
	right: -202px;
	background-color: #F5F5F5;
	border-left: 0px solid #CCCCCC;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	z-index: 2;
}
	nav.menu .menu-header{
		position: relative;
		float: left;
		width: 100%;
	}
		nav.menu .menu-header ul.option-bar{
			margin: 0;
			padding: 0;
			list-style: none;
			float: right;
		}
			nav.menu .menu-header ul.option-bar li{
				position: relative;
				float: left;
				padding: 10px;
				font-size: 20px;
				color: #666666;
				cursor: pointer;
			}
			nav.menu .menu-header ul.option-bar li:hover{
				color: #444444;
			}
	nav.menu .menu-wrapper{
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
		nav.menu .menu-content{
			margin: 10px;
			color: #666666;
		}

			nav.menu .menu-content strong{
				color: #444444;
				font-weight: 300;
			}

			nav.menu .menu-content ul{
				margin: 8px 0 20px 0;
				padding: 0;
				list-style: none;
				width: 100%;
			}

			nav.menu .menu-content ul.social-network li{
				float: left;
				padding: 5px;
			}
				nav.menu .menu-content ul.social-network li img{
					height: 20px;
					width: 20px;
				}

/************/
/* Menu (e) */
/************/		
				
/**************/
/* Banner (s) */
/**************/

.banner{
	position: relative;
	float: left;
	height: 300px;
	width: 100%;
	background-color: #F5F5F5;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
	.banner table.partner-logo{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 170px;
		height: 170px;
		display: block;
		margin: -80px 0 0 -80px;
		border-spacing: 0;
		border-collapse: collapse;
		vertical-align: center;
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;		
	}
		.banner table.partner-logo tr td{
			height: 150px;
			width: 150px;
			vertical-align: middle;
			text-align: center;
			padding: 10px;
		}
			.banner table.partner-logo tr td img{
				width: auto;
				height: auto;
				max-width:150px; 
				max-height: 150px;
			}

/**************/
/* Banner (e) */
/**************/

/*****************/
/* Container (s) */
/*****************/

.container{
	position: relative;
	float: left;
	width: 100%;
}

.container.dark-blue{background-color: #263962; color: #FFFFFF;}
.container.dark-grey{background-color: #333333; color: #777777;}
.container.light-blue{background-color: #3B5999; color: #FFFFFF;}
.container.light-grey{background-color: #F5F5F5; color: #666666;}
.container.white{background-color: #FFFFFF; color: #777777;}
	
	.container .nav-holder{
		position: relative;
		float: left;
		background-color: #3B5999;
		width: 100%;
		display: block;
	}
		.container .nav-holder nav{
			width: 100%;
			max-width: 1000px;
			display: block;
			margin: 0 auto;
			overflow: auto;
		}
			.container .nav-holder nav ul{
				margin: 0;
				padding: 0;
				list-style: none;
				width: auto;
			}
				.container .nav-holder nav ul li{
					position: relative;
					float: left;
					padding: 15px;
					color: #FFFFFF;
					border-bottom: 3px solid #3B5999;
				}
						.container .nav-holder nav ul li.application-link.active, .container .nav-holder nav ul li.application-link:hover{
							border-bottom: 3px solid #263962;
						}
	.container .container-content{ width: 100%; max-width: 1000px; margin: 0 auto; }
		.container .container-content .application-header{ position: relative; float: left;	width: 100%; }
			.container .container-content .application-header .application-headline{ float: left; margin: 10px 5px 5px 5px;	padding: 10px 5px 5px 5px; }
			.container .container-content .application-header .application-options{ float: right; }
				.container .container-content .application-header .application-options ul{ margin: 0; padding: 0; list-style: none;}
					.container .container-content .application-header .application-options ul li{ float: left; margin: 10px 5px 5px 5px; padding: 10px 5px 5px 5px; }
						.container .container-content .application-header .application-options ul li button{ padding: 0 10px; }

			.container .container-content .application-content .application-column-left{
				float: left;
				width: 650px;
				margin: 0 10px 0 0;

			}
				.container .container-content .application-content .application-column-left .application-column-content{
					margin:5px;
					padding: 5px 0 5px 5px;
				}
			.container .container-content .application-content .application-column-right{
				float: left;
				width: 330px;
				margin: 0 0 0 10px;
			}
				.container .container-content .application-content .application-column-right .application-column-content{
					margin:5px;
					padding: 5px 5px 5px 0px;
				}


		.container .container-content .container-description{
			font-size: 1.2em;
			font-weight: 400;
			font-style: italic;
			margin: 20px 0 0 0;
		}
		.container .container-content .arrow{
			position: relative;
			float: left;
			width: 100%;
			height: 40px;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 30px;
		}
		.container .container-content .arrow.dark-blue{background-image: url(../image/arrows/dark-blue.png)}
		.container .container-content .arrow.light-blue{background-image: url(../image/arrows/light-blue.png)}
		.container .container-content .arrow.light-grey{background-image: url(../image/arrows/light-grey.png)}
		.container .container-content .arrow.white{background-image: url(../image/arrows/white.png)}

		.container .container-content .placeholder{
			position: relative;
			float: left;
			width: 100%;
			height: 50px;
		}

		.container nav.breadcrumb{
			position: relative;
			float: left;
			width: 100%;
			border-top: 2px solid #CCCCCC;
			margin-top: 40px;
		}
			.container nav.breadcrumb ul{
				margin: 0;
				padding: 0;
				list-style: none;
			}
				.container nav.breadcrumb ul li{
					float: left;
					padding: 10px 5px;
				}

.container.light-grey h1,
.container.light-grey h2,
.container.light-grey h3,
.container.light-grey h4,
.container.light-grey h5,
.container.light-grey h6{color:#000000;}

.container.white h1,
.container.white h2,
.container.white h3{color:#000000;}
.container.light-grey h4,
.container.light-grey h5,
.container.light-grey h6{color:#666666;}

@media screen and (max-width: 1000px){
	.container .container-content .application-content .application-column-left{
		float: left;
		width: 100%;
		margin: 0 0 1% 0 !important;

	}
	.container .container-content .application-content .application-column-right{
		float: left;
		width: 100%;
		margin: 0 !important;
	}
		.container .container-content .application-content .application-column-right .application-item:nth-child(2n+1){	width: 49% !important; margin: 0 1% 0 0 !important;}
		.container .container-content .application-content .application-column-right .application-item:nth-child(2n){	width: 49% !important; margin: 0 0 0 1% !important;}
}
@media screen and (max-width: 500px){
	.container .container-content .application-content .application-column-right .application-item:nth-child(2n+1){	width: 100% !important; margin: 0 !important;}
	.container .container-content .application-content .application-column-right .application-item:nth-child(2n){	width: 100% !important; margin: 0 !important;}
	.container .container-content .application-content .application-column-right .application-item{	width: 100% !important; margin-bottom: 10px !important;}
}

/*****************/
/* Container (e) */
/*****************/

/**************/
/* Footer (s) */
/**************/

footer{
	position: relative;
	float: left;
	width: 100%;
	color: #FFFFFF;
}

	footer a:link, footer a:visited{
		color: #666666 !important;
	}
	footer .footer-top{
		position: relative;
		float: left;
		width: 100%;
		background-color: #333333;
		margin: 0;
		padding: 10px 0;
	}
		footer .footer-top h1,
		footer .footer-top h2,
		footer .footer-top h3,
		footer .footer-top h4,
		footer .footer-top h5,
		footer .footer-top h6{
			margin-bottom: 10px;
		}
		footer .footer-top ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
			footer .footer-top ul li{}

	footer .footer-bottom{
		position: relative;
		float: left;
		width: 100%;
		background-color: #222222;
	}
		footer .footer-top .footer-wrapper, footer .footer-bottom .footer-wrapper{
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;
		}

/**************/
/* Footer (e) */
/**************/


/***************/
/* Section (s) */
/***************/

.section-item{
	position: relative;
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
	.section-item .section-header{
		position: relative;
		width: 100%;
		background-color: #000000;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 180px;
	}
		.section-item .section-header iframe{
			position: absolute;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		.section-item .section-header table{
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			z-index: 2;
		}
			.section-item .section-header table tr td img{
				width: auto;
				height: auto;
				max-width:90%; 
				max-height: 160px;
			}
	.section-item .section-content{
		padding: 10px 10px 5px 10px;
	}
	.section-item .section-footer{
		padding: 5px 10px 10px 10px;
	}
		.section-item .section-footer table{
			width: 100%;
			border-collapse: 0;
			border-spacing: 0;
			text-align: center;
		}

/***************/
/* Section (e) */
/***************/

/*************/
/* Image (s) */
/*************/

.circle-image{
	clear: both;
	margin: 0 10px;
}
	/* Size */
	.circle-image.large{
		width: 160px;
		height: 160px;
		border-radius: 160px;
	}
	.circle-image.medium{
		width: 100px;
		height: 100px;
		border-radius: 100px;
	}
	.circle-image.small{
		width: 40px;
		height: 40px;
		border-radius: 40px;
	}
	.circle-image.tiny{
		width: 20px;
		height: 20px;
		border-radius: 20px;
	}
	/* Border */
	.circle-image.border{
		border:1px solid #CCCCCC;
	}

.squared-image{
	clear: both;
	margin: 0;
	padding: 0;
}
	/* Size */
	.squared-image.large{
		width: 160px;
		height: 160px;
	}
	.squared-image.medium{
		width: 100px;
		height: 100px;
	}
	.squared-image.small{
		width: 40px;
		height: 40px;
	}
	.squared-image.tiny{
		width: 20px;
		height: 20px;
	}
	/* Border */
	.squared-image.border{
		border:1px solid #CCCCCC;
	}

/*************/
/* Image (e) */
/*************/