
@font-face{
	font-family:'Icon';
	src:url('../font/icon.eot');
	src:url('../font/icon.eot') format('embedded-opentype'),
	url('../font/icon.woff') format('woff'),
	url('../font/icon.ttf') format('truetype'),
	url('../font/icon.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}

[class^="icon-"],[class*=" icon-"]{
	font-family:Icon;
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	-webkit-font-smoothing:antialiased;
}




/* Arrows*/
.icon-arrow-top:before{content:"\e600";}
.icon-arrow-down:before{content:"\e601";}
.icon-arrow-right:before{content:"\e602";}
.icon-arrow-left:before{content:"\e603";}

/* Controll */
.icon-plus:before{content:"\e604";}
.icon-minus:before{content:"\e605";}
.icon-true:before{content:"\e606";}
.icon-remove:before,.icon-close:before,.icon-false:before{content:"\e607";}
.icon-points:before{content:"\e608";}
.icon-menu:before{content:"\e609";}
.icon-envelope:before{content:"\e60a";}
.icon-phone:before{content:"\e60b";}
.icon-fax:before{content:"\e60c";}
.icon-globe:before{content:"\e60d";}
.icon-location:before{content:"\e60e";}

