html{
	height: 100%;
}

body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	background-color: #1ABC9C;
}

button{
	background: #1ABC9C;
	color: #FFFFFF;
	border-radius: 0px;
	border: 0px;
	border-bottom: 3px solid #16A085;
}
button:hover{
	background: #1ABC9C;
	color: #FFFFFF;
	box-shadow: none;
	border-bottom: 3px solid #1ABC9C;
}

input{
	border-radius: 0px;
}

header{
	width: 100%;
	padding: 10px 0;
	height: 20px;
	background-color: #FFFFFF;
}

	header > nav{
		position: relative;
		float: right;
		width: 50%;
	}
		header > nav > ul{
			position: relative;
			float: right;
			margin: 0;
			padding: 0;
			list-style: none;
		}

			header > nav > ul > li{
				position: relative;
				float: left;
				padding: 0 10px;
				color: #1ABC9C;
				cursor: pointer;
			}
			header > nav > ul > li:hover{
				position: relative;
				float: left;
				padding: 0 10px;
				color: #16A085;
			}


#login-mask{
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -200px;
	width: 100%;
	max-width: 400px;
	background-color: #FFFFFF;
}

#login-mask > .header{
	padding: 10px 0;
	background-color: #F5F5F5;
	text-align: center;
	color: #1ABC9C;
}

#login-mask > .content{
	padding: 20px 10px;
}

@media screen and (max-width: 400px){
	header{
		width: 100%;
		padding: 10px 0;
		height: 20px;
		background-color: #1ABC9C;
	}

		header > nav{
			position: relative;
			float: right;
			width: 50%;
		}
			header > nav > ul{
				position: relative;
				float: right;
				margin: 0;
				padding: 0;
				list-style: none;
			}

				header > nav > ul > li{
					position: relative;
					float: left;
					padding: 0 10px;
					color: #FFFFFF;
					cursor: pointer;
				}
				header > nav > ul > li:hover{
					position: relative;
					float: left;
					padding: 0 10px;
					color: #F5F5F5;
				}
	#login-mask{
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
	}
}