.event-wrapper
{
  margin-top: -20px!important;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.event-picture
{
  max-height: 500px;
	width: 100%;
}
.event-post
{
	position: relative;
	float: left;
	width: 45%;
	min-width: 250px;
	margin: 1%;
	padding:1%;
	display: block;
	background-color: #263962;
}
.event-inner-left
{
	position: relative;
	float: left;
	width: 30%;
	margin:1%;
	display: block;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	overflow: hidden;
}
.event-inner-right
{
	position: relative;
	float: left;
	width: 48%;
	margin:1%;
	padding-left: 10px;
	padding-top: 10px; 
	display: block;
	max-height: 150px;
	overflow: hidden;
}
 p
{
	font-size: 11px;
	color:#fff;
	font-family: Verdana,"Lucida Sans Unicode",sans-serif;
}

.event-post a
{
	color:#fff!important;
	font-family: Verdana,"Lucida Sans Unicode",sans-serif;
}
h1
{
	font-weight: 500;
}
/* =================================


===================================*/

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 35px;
  font-weight: 700;
  font-size: 23px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
.overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
.overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
.event-post:hover .overlay {
  height: 100%;
}

@media all and (max-width: 500px) {

.event-wrapper .event-picture
{
  min-height: 350px;
}
  .event-post
{
  position: relative;
  float: left;
  width: 100%;
  min-width: 250px;
  margin: 1%;
  padding:1%;
  display: block;
  background-color: #263962;
}
}