body{
	background-color: #FFF!important;
}
#job-wrapper
{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.job-picture
{
  	max-height: 500px;
	width: 100%;
}
#job-content-wrapper
{
	width: 100%;
}

.job-item{
	position: relative;
	float: left;
	width: 100%;
	min-height: 60px;
	margin: 10px 0;
}
.job-item .job-content
{
	border: 1px solid #ddd;
	background-color: #F7F7F7;
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	margin-top: 30px;
	min-height: 60px;
}

.job-item .job-content .job-left{
	position: relative;
	float: left;
	display: block;
	width: 20%;
	margin-left: 10px;
	min-height: 60px;
	height: 100%;
	  background-repeat: no-repeat;
	  background-position: left top;
	  background-size: auto 100%;
}

.job-item .job-content .job-center{
	position: relative;
	display: block;
	float: left;
	padding-top: 10px;
	width: 60%;
	height: 100%;
}
.job-item .job-content .job-center a{
	font-size: 18px;
	text-align: none !important;
}
.job-item .job-content .job-right
{
	display: block;
	background-color: #3B5999;
	position: relative;
	float:right;
	width: 30px;
	height:30px;
	margin-right: 15px;
	margin-top: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.job-category-form
{
	margin-top: 30px;
	width: 100%;
	position: relative;
	text-align: right;
}
.job-category-form select[name=job_category]
{
	background-color: #000;
	color:#fff;
	opacity: 0.8;
	height: 40px;
	border:none;
	font-size: 16px;
}
.job-button
{
	width: 120px;
	height: 40px;
	background-color: #000;
	border:none;
	color:#fff;
	opacity: 0.8;
}
.job-overlay
{
  position: absolute;
  margin-top: -60px;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  transform: skewY(-4deg);
    padding-bottom: 50px;
}

.job-overlay-content
{
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  transform: skewY(4deg);
  padding-right: 10%;
  padding-left: 10%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
 }


/*==================================
	Single Job css
==================================*/

#single-job-wrapper
{
	padding:0px 10%;
	padding-top:150px;
	background-color: #fff;
}
#post
{
	margin-top: 20px;
}
#page-wrapper
{
	background-color:#fff;
}
/*==================================
	mobile css
==================================*/

@media screen and (max-width: 500px)  {
	#job-wrapper .job-picture
	{
		min-height: 350px;
	}
	.job-overlay-content
	{
		min-width: 0px;
		width: 80%;
	}
	.job-item{
		position: relative;
		float: left;
		min-height: 60px;
		margin: 10px 0;
	}
		.job-item .job-content
		{
			width: 100%;
			box-shadow: none;
			background-color: #f7f7f7;
		}

			.job-item .job-content .job-left{
				float: none;
				margin-left:5%;
				margin-bottom: 5%;
				width: 60px;
				height: 60px;
			}

			.job-item .job-content .job-center{
				border-top: 1px solid #666;
				width: 90%;
				margin: 0 5%;
				padding: 0px;
			}
				.job-item .job-content .job-center a{
					font-size: 13px;
					text-align: center;
					color: #222;
				}
			.job-item .job-content .job-right
			{
				display: none;
			}
.filter-wrapper
{
	margin-left: -10% !important;
	width: 120%!important;
}
}
@media screen and (max-width: 600px)  {
.filter-wrapper .filter-column
{
	margin-top: 20px;
	position: relative;
	float: left;
	width: 100% !important;
}
}

.filter-wrapper{
	margin: 20px 0px;
	position: relative;
	float: left;
	width: 100%;
	background-color: #F7F7F7;	
	border: 1px solid #DDD;
	overflow: visible;

}
.filter-wrapper .filter-bar{
	position: relative;
	float: left;
	width: 100%;
}
.filter-wrapper .filter-bar a img{
	height: 40px;
	width: 40px;
	float: right;
}
.filter-wrapper .filter-bar a img:hover{
	
		cursor: pointer;
}
.filter-wrapper .filter-column
{
	position: relative;
	float: left;
	width: 33.33%;
}
.filter-wrapper .filter-column .filter-head
{
	position: relative;
	float: left;
	width: 80%;
	margin-left: 10%;
	font-size: 20px;
	border-bottom: 1px solid #DDD;

}
.filter-wrapper .filter-column .filter-center{
	position: relative;
	float: left;
	width: 85%;
	margin-left: 10%;
	margin-top: 5%;
}
.filter-wrapper .filter-column .filter-center .filter-category{
	width: 120px;
}
.filter-wrapper .filter-end{
	position: relative;
	float: left;
	width: 100%;
	height: 40px;
}
.filter-wrapper .filter-end img{
	float: right;
	width: 35px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
}
.filter-wrapper .filter-end:hover img{
	margin-right: 15px;
}