#content-wrapper-event
{
  background-color: #fff;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
}
.job-description
{
  color:#555;
  margin-bottom: 100px;
  max-width: 600px;
}
#page-wrapper
{
  min-width: 0px!important;
}


.event-wrapper
{
  margin-top:-20px!important;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.event-picture
{
  max-height: 700px;
  width: 100%;
}
.event-overlay
{
  position: absolute;
  margin-top: -60px;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  transform: skewY(-4deg);
  padding-bottom: 50px;
}

.event-content
{
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  transform: skewY(4deg);
  padding-right: 10%;
  padding-left: 10%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
 }
 #map
 {
  border:3px solid #3B5999;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
 }
@media all and (max-width: 500px) {

  .event-wrapper .event-picture
  {
    min-height: 350px;
  }
}